*,
h1 {
  color: #772607;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

/* HEADER */

h1 {
  font-size: 4rem;
  background-color: white;
  width: 25rem;
  padding: 2rem;
  border-radius: 7rem;
  margin: 0 auto;
  background-color: #ffdf7f;
  font-weight: bold;
}

header {
  padding: 4rem;
  text-align: center;
  background-image: url("/assets/imgs/honeyzip.png");
  background-position: 50% 10%;
}

@media screen and (max-width: 575px) {
  header {
    padding: 2rem;
  }
  h1 {
    font-size: 2.4rem;
    width: 60%;
  }
}

/* NAV */

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #fef7e2;
  padding: 3rem 1rem;
  text-align: center;
  gap: 0 1rem;
}

nav a {
  background-color: #ffdf7f;
  text-decoration: none;
  border-radius: 5rem;
  font-size: 1.8rem;
  font-weight: bold;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

nav img {
  max-width: 44px;
  padding-right: 1rem;
}

nav a:nth-child(3) {
  text-transform: uppercase;
  font-size: 1.8rem;
}

@media screen and (max-width: 575px) {
  nav {
    gap: 1rem;
  }

  nav a {
    flex-basis: 35%;
    font-size: 1.31rem;
    padding: 1rem;
  }

  nav a:nth-child(3) {
    order: -5;
    flex-basis: 100%;
  }
}

@media screen and (min-width: 576px) {
  nav {
    justify-content: center;
    gap: 0 0.5rem;
    align-items: center;
  }
  nav a {
    flex-basis: 13%;
    font-size: 1.2rem;
    padding: 0.5rem;
  }

  nav a:nth-child(3) {
    height: 5rem;
  }

  nav img {
    max-width: 44px;
    padding-right: 1rem;
  }
}

@media screen and (min-width: 769px) {
  body {
    display: flex;
    flex-direction: row;
  }
  nav {
    position: sticky;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    gap: 1rem 0;
    height: 80vh;
    width: 20%;
    top: 0;
    left: 0;
    order: -5;
  }

  nav a {
    flex-basis: 15%;
  }

  nav a:nth-child(3) {
    order: -5;
  }
}

/* MAIN */

/* SECTION 1 */

hr {
  display: none;
}

h2 {
  font-size: 3rem;
  font-weight: bold;
  flex-basis: 100%;
  padding: 2rem 2.5rem;
}

h3 {
  font-size: 2rem;
  padding-bottom: 1.5rem;
}

main section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.product-card {
  display: flex;
  background-color: #fef7e2;
  flex-basis: 20%;
  flex-wrap: wrap;
  justify-content: space-between;
  border-radius: 3rem;
}

.product-card img {
  width: 50%;
  flex-basis: 100%;
  object-fit: cover;
  border-top-right-radius: 3rem;
  border-top-left-radius: 3rem;
}

.product-card div,
.product-card a,
.product-card div + p {
  padding: 1rem;
}

.product-card a {
  flex-basis: 100%;
}

@media screen and (max-width: 575px) {
  main section {
    flex-direction: column;
    gap: 1rem 0;
  }
}

@media screen and (min-width: 576px) {
  .product-card {
    flex-basis: 45%;
  }
}

@media screen and (min-width: 769px) {
  .product-card {
    flex-basis: 22%;
  }

}

/* SECTION 2 */

main section:last-child {
  padding-top: 3rem;
}

.article-post {
  background-color: #fef7e2;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.article-post img {
  order: -11;
  flex-basis: 35%;
}

.article-text {
  flex-basis: 55%;
}

@media screen and (max-width: 575px) {
  main section:last-child {
    flex-direction: column;
  }

  .article-text {
    flex-basis: 100%;
  }

  .article-post img {
    order: 55;
    max-width: 100%;
  }
}

@media screen and (min-width: 576px) {
  main section:last-child {
    flex-direction: column;
  }
}

.article-text {
  flex-basis: 100%;
}

.article-post img {
  order: 55;
  max-width: 100%;
}

@media screen and (min-width: 769px) {

h2 {
    padding: 1.5rem;

}

main section:last-child {
    padding-top: 0;
  }
}

@media screen and (min-width: 1600px) {
    .article-post {
        background-color: #fef7e2;
        padding: 2rem;
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
      }
      
      .article-post img {
        order: -11;
        flex-basis: 35%;
      }
      
      .article-text {
        flex-basis: 50%;
      }
      } 
